body {
    margin: 10px 12px;
    background-color: rgb(252, 207, 214);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 1em;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif
 }
.landing{
    background-image: url('../images/gall1.jpg' );
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: au;
    height: auto;
    padding: 1em;
    color: brown
    
 }
 header{
    display:flex;
 }
.id{
    flex: 2;
    color: rgb(127, 17, 17);
    font-size: 1.7em;
    font-weight:bold ;
 }
.main{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding:2em ;
}
.tag{
    text-decoration: none;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(2, 2, 2)
}
.tag2{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(1, 1, 1)
}
.main button{
    width: 40vw;
    margin-top: 2em;
    padding: .7em;
    background-color:rgb(168, 22, 22)
}
#po{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}
h1{
    display: flex;
    justify-content: center;
}
.locatiom{
    background-color: rgb(238, 187, 196) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.about{
    display: grid;
    color: rgb(107, 4, 4);
    margin: 0px 10px 10px 10px;
   
}
#men{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.9em;
    font-weight: bolder;
    color: rgb(96, 11, 4);
    display: flex;
    justify-content: center;
}
.menu{
    display: grid;
    height: 100vh;
    width: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(144, 24, 15);
}
.table{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}
th{
    /* height: 100vh;
    width: 100vh; */
    padding: 1em;
    color: rgb(128, 10, 10);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
td{
    /* height: 100vh;
    width: 100vh; */
    padding: .6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
.contact{
    padding: 2em;
}
.contact h2{
    display: flex;
    justify-content: center;
    color: rgb(102, 12, 12);
    font-size: 2em
}
.contact h3{
    display: flex;
    margin: 10px 10px;
    justify-content: center;
    color: rgb(102, 12, 12);
    font-size: 1.5em
}
.bg{
    /* background-color: rgb(252, 207, 214); */
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.bg p{
    color:rgb(176, 39, 39) ;
    margin: 10px 10px;

}